<footer class="footer">
  {{{picture "/images/footer-bg.png" alt="Footer background"
  class="footer__bg"}}}
  <div class="container">
    <div class="footer__inner">
      <div class="footer__logo">
        <img src="/icons/logo.svg" alt="Footer logo" width="60" height="54" />
      </div>
      <h3 class="footer__title">Investment Starts With a Conversation.</h3>
      <p class="footer__description">Start yours on Investr.</p>
      <nav aria-label="Primary" class="footer__nav">
        <ul class="footer__nav-list">
          <li class="footer__nav-item">
            <a href="#">Investor Testimonials</a>
          </li>
          <li class="footer__nav-item"><a href="#">Features</a></li>
          <li class="footer__nav-item"><a href="#">How It Works</a></li>
          <li class="footer__nav-item"><a href="#">Why Investr</a></li>
          <li class="footer__nav-item"><a href="#">FAQ</a></li>
        </ul>
      </nav>
    </div>
    <div class="footer__bottom">
      <p class="footer__copyright">
        © <span data-year></span> Investr. All rights reserved.
      </p>
      <ul class="footer__social-list">
        <li class="footer__social-item">
          <a href="#">
            <img
              src="/icons/tiktok.svg"
              alt="Facebook"
              width="24"
              height="24"
            />
          </a>
        </li>
        <li class="footer__social-item">
          <a href="#">
            <img src="/icons/x.svg" alt="Facebook" width="24" height="24" />
          </a>
        </li>
        <li class="footer__social-item">
          <a href="#">
            <img
              src="/icons/instagram.svg"
              alt="Facebook"
              width="24"
              height="24"
            />
          </a>
        </li>
      </ul>
      <a href="#" class="footer__link">Privacy Policy</a>
    </div>
  </div>
</footer>
