<header class="header" id="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__logo">
        <img src="/icons/logo.svg" alt="Header logo" width="60" height="54" />
      </div>
      <nav aria-label="Primary" class="header__nav">
        <ul class="header__nav-list">
          <li class="header__nav-item">
            <a href="#">Investor Testimonials</a>
          </li>
          <li class="header__nav-item"><a href="#">Features</a></li>
          <li class="header__nav-item"><a href="#">How It Works</a></li>
          <li class="header__nav-item"><a href="#">Why Investr</a></li>
          <li class="header__nav-item"><a href="#">FAQ</a></li>
        </ul>
      </nav>
      <a href="#" class="header__btn btn">Join the Waitlist</a>
    </div>
  </div>
</header>
