// Typography

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h {
  font-weight: 600;
  color: $headings-color;
  font-family: $base-font-family-secondary;
  margin: 0;
}

h1,
.h1 {
  font-size: $h1-font-size;
}

h2,
.h2 {
  @include adaptive-value('font-size', 72, 40, 1);
  line-height: calc(76 / 72);
}

h3,
.h3 {
  @include adaptive-value('font-size', 52, 32, 1);
  line-height: calc(56 / 52);
}

h4,
.h4 {
  font-size: $h4-font-size;
}

h5,
.h5 {
  font-size: $h5-font-size;
}

h6,
.h6 {
  font-size: $h6-font-size;
}

p {
  margin: 0;
  color: $base-gray;
  @include adaptive-value('font-size', 18, 14, 1);
  line-height: calc(22 / 18);
}

a {
  color: $base-link-color;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

a:not([class]) {
  text-decoration: underline;
  text-underline-offset: 0.18em;
  text-decoration-thickness: from-font;
}
