// Colors (keep palette minimal and semantic)
$base-white: #f8fbff;
$base-black: #232429;
$base-gray: #4a4b4f;
$base-blue: #142a40;

$base-font-family: 'Inter', sans-serif;
$base-font-family-secondary: 'Lora', serif;

// This is the default html and body font-size for the base rem value.
$rem-base: 16px;

// Body
$base-text-color: $base-black !default;
$base-background-color: $base-white !default;
$font-size-base: 16px !default;
$line-height-base: 1.2 !default;
$base-font-family: $base-font-family !default;

$vertical-rhythm: ($line-height-base * 1em);

$base-min-width: 320px;

// Liks
$base-link-color: $base-black !default;

// Buttons
$btn-color: $base-white !default;
$btn-background: $base-black !default;
$btn-padding: 0.4em 0.7em !default;
$btn-font-size: inherit !default;

// Forms
$form-element-padding: $btn-padding !default;
$form-element-border-color: $base-gray !default;
$form-element-focus-border-color: $base-black !default;
$placeholder-color: $base-gray !default;

// Headers
$h1-font-size: 78px;
$h2-font-size: 52px;
$h3-font-size: 24px;
$h4-font-size: 22px;
$h5-font-size: 17px;
$h6-font-size: 15px;

$headings-font-family: $base-font-family-secondary;
$headings-color: inherit !default;

$animation-speed: all 0.3s ease 0s;
